<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <!-- 以下の参照を追加する。 -->
      <assemblies>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <!-- アドレスが*.gitだったらGitTools.GitHandlerを呼ぶようにhttp handlerを追加する -->
  <system.webServer>
    <handlers>
      <add name="GitHandler" verb="GET,POST" path="*.git" type="GitTools.GitHandler,GitTools"/>
    </handlers>
  </system.webServer>
  <!-- ODataアクセス用 -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <appSettings>
    <!-- git.exeのインストールパスを設定する。 -->
    <add key="GitExePath" value="C:\Program Files (x86)\Git\bin\git.exe"/>
    <!-- Gitのリポジトリを置くルートディレクトリを設定する。 -->
    <add key="GitBaseFolder" value="D:\repos"/>
    <!--<add key="GitAuthenticationMode" value="Push" />-->
  </appSettings>
</configuration>